.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  span{
    color: #f00015;
  }
  img {
    max-width: 250px;
    height: auto;
    margin-top: 20px;
    margin: 20px;
  }
}
